            <p  style="font-size: 15px !important" class="stack_info"><%= best_in_place @resume, :social, :place_holder => "<span id='empty'> Your Address, Bronx, NY , 10469</span>" %> </p>  

            <p style="font-size: 15px !important" class="stack_info"><%= best_in_place @resume, :email, :place_holder => "<span id='empty'> Enter Your Email </span>" %> </p>  
    
            <p style="font-size: 15px !important" class="stack_info"><%= best_in_place @resume, :phone, :place_holder => "<span id='empty'> Enter Your Phone Number </span>" %> </p>  
       

     <style>
         .stack_info {
             font-weight: normal;
             font-size: 12px !important;
         }
     </style>