     <div class="col s4 center"> 
            <p><%= best_in_place @resume, :email, :place_holder => "<span> Enter Your Email </span>" %> </p>  
        </div>
        <div class="col s4 center"> 
            <p><%= best_in_place @resume, :phone, :place_holder => "<span> Enter Your Phone Number </span>" %> </p>  
        </div>
        <div class="col s4 center"> 
            <p><%= best_in_place @resume, :social, :place_holder => "<span> Enter Your LinkedIn Profile or Address </span>" %> </p>  
        </div>